extends ../layout/main-layout.pug
block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/main.css")

block content 

    main
        if errorMsg.length > 0
            p(class='user-message user-message--error') #{errorMsg}
        form(action='/new-password', method="POST", class='product-form')
            .form-control
                label(for="password") Password
                input(type="password", name='password', id='password')
                input(type="hidden", name='passwordToken' value=`${passwordToken}`)
                input(type="hidden", name='_csrf' value=`${csrfToken}`)
                input(type="hidden", name='userId' value=`${userId}`)
                button.btn(type='submit') Update Password
                